BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "serial_tx" SITE "B9";
IOBUF PORT "serial_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "serial_rx" SITE "A9";
IOBUF PORT "serial_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "clk25" SITE "P6";
IOBUF PORT "clk25" IO_TYPE=LVCMOS33;
LOCATE COMP "rst" SITE "L14";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;
LOCATE COMP "wifi_gpio0" SITE "M14";
IOBUF PORT "wifi_gpio0" IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_clock" SITE "R15";
IOBUF PORT "sdram_clock" PULLMODE=NONE;
IOBUF PORT "sdram_clock" DRIVE=4;
IOBUF PORT "sdram_clock" SLEWRATE=FAST;
IOBUF PORT "sdram_clock" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[0]" SITE "H15";
IOBUF PORT "sdram_a[0]" PULLMODE=NONE;
IOBUF PORT "sdram_a[0]" DRIVE=4;
IOBUF PORT "sdram_a[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[1]" SITE "B13";
IOBUF PORT "sdram_a[1]" PULLMODE=NONE;
IOBUF PORT "sdram_a[1]" DRIVE=4;
IOBUF PORT "sdram_a[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[2]" SITE "B12";
IOBUF PORT "sdram_a[2]" PULLMODE=NONE;
IOBUF PORT "sdram_a[2]" DRIVE=4;
IOBUF PORT "sdram_a[2]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[3]" SITE "J16";
IOBUF PORT "sdram_a[3]" PULLMODE=NONE;
IOBUF PORT "sdram_a[3]" DRIVE=4;
IOBUF PORT "sdram_a[3]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[4]" SITE "J15";
IOBUF PORT "sdram_a[4]" PULLMODE=NONE;
IOBUF PORT "sdram_a[4]" DRIVE=4;
IOBUF PORT "sdram_a[4]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[5]" SITE "R12";
IOBUF PORT "sdram_a[5]" PULLMODE=NONE;
IOBUF PORT "sdram_a[5]" DRIVE=4;
IOBUF PORT "sdram_a[5]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[6]" SITE "K16";
IOBUF PORT "sdram_a[6]" PULLMODE=NONE;
IOBUF PORT "sdram_a[6]" DRIVE=4;
IOBUF PORT "sdram_a[6]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[7]" SITE "R13";
IOBUF PORT "sdram_a[7]" PULLMODE=NONE;
IOBUF PORT "sdram_a[7]" DRIVE=4;
IOBUF PORT "sdram_a[7]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[8]" SITE "T13";
IOBUF PORT "sdram_a[8]" PULLMODE=NONE;
IOBUF PORT "sdram_a[8]" DRIVE=4;
IOBUF PORT "sdram_a[8]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[9]" SITE "K15";
IOBUF PORT "sdram_a[9]" PULLMODE=NONE;
IOBUF PORT "sdram_a[9]" DRIVE=4;
IOBUF PORT "sdram_a[9]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[10]" SITE "A13";
IOBUF PORT "sdram_a[10]" PULLMODE=NONE;
IOBUF PORT "sdram_a[10]" DRIVE=4;
IOBUF PORT "sdram_a[10]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[11]" SITE "R14";
IOBUF PORT "sdram_a[11]" PULLMODE=NONE;
IOBUF PORT "sdram_a[11]" DRIVE=4;
IOBUF PORT "sdram_a[11]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[12]" SITE "T14";
IOBUF PORT "sdram_a[12]" PULLMODE=NONE;
IOBUF PORT "sdram_a[12]" DRIVE=4;
IOBUF PORT "sdram_a[12]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[0]" SITE "F16";
IOBUF PORT "sdram_dq[0]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[0]" DRIVE=4;
IOBUF PORT "sdram_dq[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[1]" SITE "E15";
IOBUF PORT "sdram_dq[1]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[1]" DRIVE=4;
IOBUF PORT "sdram_dq[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[2]" SITE "F15";
IOBUF PORT "sdram_dq[2]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[2]" DRIVE=4;
IOBUF PORT "sdram_dq[2]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[3]" SITE "D14";
IOBUF PORT "sdram_dq[3]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[3]" DRIVE=4;
IOBUF PORT "sdram_dq[3]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[4]" SITE "E16";
IOBUF PORT "sdram_dq[4]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[4]" DRIVE=4;
IOBUF PORT "sdram_dq[4]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[5]" SITE "C15";
IOBUF PORT "sdram_dq[5]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[5]" DRIVE=4;
IOBUF PORT "sdram_dq[5]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[6]" SITE "D16";
IOBUF PORT "sdram_dq[6]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[6]" DRIVE=4;
IOBUF PORT "sdram_dq[6]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[7]" SITE "B15";
IOBUF PORT "sdram_dq[7]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[7]" DRIVE=4;
IOBUF PORT "sdram_dq[7]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[8]" SITE "R16";
IOBUF PORT "sdram_dq[8]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[8]" DRIVE=4;
IOBUF PORT "sdram_dq[8]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[9]" SITE "P16";
IOBUF PORT "sdram_dq[9]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[9]" DRIVE=4;
IOBUF PORT "sdram_dq[9]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[10]" SITE "P15";
IOBUF PORT "sdram_dq[10]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[10]" DRIVE=4;
IOBUF PORT "sdram_dq[10]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[11]" SITE "N16";
IOBUF PORT "sdram_dq[11]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[11]" DRIVE=4;
IOBUF PORT "sdram_dq[11]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[12]" SITE "N14";
IOBUF PORT "sdram_dq[12]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[12]" DRIVE=4;
IOBUF PORT "sdram_dq[12]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[13]" SITE "M16";
IOBUF PORT "sdram_dq[13]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[13]" DRIVE=4;
IOBUF PORT "sdram_dq[13]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[14]" SITE "M15";
IOBUF PORT "sdram_dq[14]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[14]" DRIVE=4;
IOBUF PORT "sdram_dq[14]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[15]" SITE "L15";
IOBUF PORT "sdram_dq[15]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[15]" DRIVE=4;
IOBUF PORT "sdram_dq[15]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_we_n" SITE "A15";
IOBUF PORT "sdram_we_n" PULLMODE=NONE;
IOBUF PORT "sdram_we_n" DRIVE=4;
IOBUF PORT "sdram_we_n" SLEWRATE=FAST;
IOBUF PORT "sdram_we_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ras_n" SITE "B16";
IOBUF PORT "sdram_ras_n" PULLMODE=NONE;
IOBUF PORT "sdram_ras_n" DRIVE=4;
IOBUF PORT "sdram_ras_n" SLEWRATE=FAST;
IOBUF PORT "sdram_ras_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_cas_n" SITE "G16";
IOBUF PORT "sdram_cas_n" PULLMODE=NONE;
IOBUF PORT "sdram_cas_n" DRIVE=4;
IOBUF PORT "sdram_cas_n" SLEWRATE=FAST;
IOBUF PORT "sdram_cas_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_cs_n" SITE "A14";
IOBUF PORT "sdram_cs_n" PULLMODE=NONE;
IOBUF PORT "sdram_cs_n" DRIVE=4;
IOBUF PORT "sdram_cs_n" SLEWRATE=FAST;
IOBUF PORT "sdram_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_cke" SITE "L16";
IOBUF PORT "sdram_cke" PULLMODE=NONE;
IOBUF PORT "sdram_cke" DRIVE=4;
IOBUF PORT "sdram_cke" SLEWRATE=FAST;
IOBUF PORT "sdram_cke" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ba[0]" SITE "G15";
IOBUF PORT "sdram_ba[0]" PULLMODE=NONE;
IOBUF PORT "sdram_ba[0]" DRIVE=4;
IOBUF PORT "sdram_ba[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ba[1]" SITE "B14";
IOBUF PORT "sdram_ba[1]" PULLMODE=NONE;
IOBUF PORT "sdram_ba[1]" DRIVE=4;
IOBUF PORT "sdram_ba[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dm[0]" SITE "C16";
IOBUF PORT "sdram_dm[0]" PULLMODE=NONE;
IOBUF PORT "sdram_dm[0]" DRIVE=4;
IOBUF PORT "sdram_dm[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_dm[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dm[1]" SITE "T15";
IOBUF PORT "sdram_dm[1]" PULLMODE=NONE;
IOBUF PORT "sdram_dm[1]" DRIVE=4;
IOBUF PORT "sdram_dm[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_dm[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "user_led0" SITE "B11";
IOBUF PORT "user_led0" IO_TYPE=LVCMOS33;
LOCATE COMP "user_led1" SITE "A11";
IOBUF PORT "user_led1" IO_TYPE=LVCMOS33;
LOCATE COMP "user_led2" SITE "A12";
IOBUF PORT "user_led2" IO_TYPE=LVCMOS33;
LOCATE COMP "user_led3" SITE "R1";
IOBUF PORT "user_led3" IO_TYPE=LVCMOS33;
LOCATE COMP "user_led4" SITE "R2";
IOBUF PORT "user_led4" IO_TYPE=LVCMOS33;
LOCATE COMP "user_led5" SITE "R3";
IOBUF PORT "user_led5" IO_TYPE=LVCMOS33;
LOCATE COMP "user_led6" SITE "R4";
IOBUF PORT "user_led6" IO_TYPE=LVCMOS33;
LOCATE COMP "user_led7" SITE "R5";
IOBUF PORT "user_led7" IO_TYPE=LVCMOS33;

LOCATE COMP "spisdcard_clk" SITE "J12";
IOBUF PORT "spisdcard_clk" SLEWRATE=FAST;
IOBUF PORT "spisdcard_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_mosi" SITE "H12";
IOBUF PORT "spisdcard_mosi" SLEWRATE=FAST;
IOBUF PORT "spisdcard_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "spisdcard_mosi" PULLMODE=UP;
LOCATE COMP "spisdcard_cs_n" SITE "G12";
IOBUF PORT "spisdcard_cs_n" SLEWRATE=FAST;
IOBUF PORT "spisdcard_cs_n" IO_TYPE=LVCMOS33;
IOBUF PORT "spisdcard_cs_n" PULLMODE=UP;
LOCATE COMP "spisdcard_miso" SITE "K12";
IOBUF PORT "spisdcard_miso" SLEWRATE=FAST;
IOBUF PORT "spisdcard_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "spisdcard_miso" PULLMODE=UP;
FREQUENCY PORT "clk25" 25.0 MHz;
